.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  min-height: 900px;
  min-width: 900px;
  border: 2px solid blueviolet;
}

.section {
  border: 2px solid blueviolet;
  display: grid;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 40px;
  color: blueviolet;
}

.scoreboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  border: 2px solid blueviolet;
  width: 400px;
  height: 100%;
  margin: 20px;
}

.score {
  display: grid;
  border: 1px solid blueviolet;
  justify-content: center;
  align-items: center;
}
